div.page-container {
    max-width: 98%;
    min-width: 200px;
    margin: 0; /*auto;*/
    padding: 0;
}


.page-container-inner {
	display: block;
    width: 100%;
	float: left;
    transition: width .2s;
}


.triple-page-container-inner {
	display: block;
    width: 33.3%;
	float: left;
    transition: width .2s;
}

.twin-page-container-inner {
	display: block;
    width: 50%;
	float: left;
    transition: width .2s;
}

.container-input {

    display: block;
	/*border: 1px solid #b5e9a7;*/
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	color: #474747;
    z-index: 0;
    min-height: 60px;
 
}

.container-input input {

    display: block;
    min-height: 30px;

    overflow: hidden;
    
    top: 50%;
    left: 0%;
    position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    width:95%;
    height:50%;
    overflow: hidden;
 
}

.container-input p {

    display: block;
    min-height: 30px;
    position: relative;
    overflow: hidden;
    /*background-color: aqua;*/
	top: 0%;
    left: 0%;
    height:100%;
    width:100%;
    min-height: 30px;

    overflow: hidden;
    font-size: 20px;
 
}

/*delivery page table*/
.country_table{
    display: none;

}

.delivery_comment textarea
{
    width: 70%;
    min-width: 200px;
    min-height: 120px;
}

.delivery_comment p
{
    top: 0%;
    left: 0%;
    font-size: 20px;
}

.delivery_submit_btn
{
    position: relative;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    background-color: #555;
    color: green;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    top: 0%;
    left: 50%;
    /*height: 100%;*/
    min-height: 50px;
    max-width: 300px;
    width:80%;
    
}


.submit_btn
{
    position: relative;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: green;*/
    background-color: #555;
    margin-top: 50px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    left: 35%;
    /*height: 100%;
    width:80%;*/
    min-height: 50px;
    max-width: 300px;
    width:30%;
    
    
}